<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/style.css">
    <title>Document</title>
</head>
<body>
    <header></header>
    <main>
        <section id="popular-tariffs">
            <div class="container">
                <h2>Populyar tarifler</h2>
                <div class="row">
                    <div class="col-4 ">
                        <div class="card">
                            <div class="card-header">
                                <h4>Full 9</h4>
                                <div class="wrapperPrice">9</div>
                            </div>
                            <div class="card-content">
                                <div class="wrapperTariffDetail"></div>
                                <div class="wrapperTariffInfo"></div>
                            </div>
                            <div class="card-action">
                                <button>Ətraflı</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 ">
                        <div class="card">
                            <div class="card-header">
                                <h4>Full 9</h4>
                                <div class="wrapperPrice">9</div>
                            </div>
                            <div class="card-content">
                                <div class="wrapperTariffDetail"></div>
                                <div class="wrapperTariffInfo"></div>
                            </div>
                            <div class="card-action">
                                <button>Ətraflı</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 ">
                        <div class="card">
                            <div class="card-header">
                                <h4>Full 9</h4>
                                <div class="wrapperPrice">9</div>
                            </div>
                            <div class="card-content">
                                <div class="wrapperTariffDetail"></div>
                                <div class="wrapperTariffInfo"></div>
                            </div>
                            <div class="card-action">
                                <button>Ətraflı</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer></footer>
</body>
</html>