:root {
  --pragraph-color: black;
  --dark-gray: rgb(75, 72, 72);
}

body {
  background-color: var(--pragraph-color);
}

[data-theme='dark'] {
  --pragraph-color: gray;
  --dark-gray: rgb(220, 212, 212);
}
.test {
  color: var(--dark-gray);
  font-size: 40px;
}
